
.ui-slider { 
	
}

.ui-grid-halve-img {
	padding-top: 0;
	text-align: center;
}

.ui-grid-halve-img img {
	width: 40%;
}
.ui-grid-trisect-img {
	padding-top: 0;
	text-align: center;
}
.ui-grid-trisect-img img {
	width: 30%;
}